<h2>{{title}}</h2>

<!-- 
  {{expr}} - interpolation, evaluate expression, toString (convert to string)
  []="expr" - property binding
  ()="expr" - event binding
-->

<p> Counter {{counter}} </p>
<p>Counter + 2 {{counter + 2}} </p> 

<input [value]="counter" />

<input [value]="counter + 2" />

<input bind-value="counter + 2" />

<p>Two way binding [()] </p>

<input [(ngModel)]="counter" type="number" />

<p>Non sugar</p>
<input [ngModel]="counter" 
       (ngModelChange)="counter = $event" 
        type="number" />


<button [disabled]="counter % 2 == 0">
   Btn
</button>

<p> {{ counter % 2 == 0? 'Even' : 'Odd'}} </p>

<button (click)="increment()">
  +1
</button>

<button on-click="counter = counter - 1">
  -1
</button>

<!-- from shared module -->

<p> Home Likes {{homeLikes}}</p>
<app-like [(likes)]="homeLikes">

</app-like>

<app-like [likes]="counter"
          (likesChange)="counter = $event"
>

</app-like>