<div>
    <!-- {{expr}} - interpolation data binding -->
    <h2>{{appTitle}}</h2>

    <app-header></app-header>

    <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact>

    <!-- (contactEvent) - subscribe for event 
            onContactHandler($event) - called on every emit from child
    -->
    <app-footer [data-company]="appTitle" 
                [address]="address"
                year="2018"  

                (contactEvent)="onContactHandler($event)"

    ></app-footer>
</div>