<div>
    <!-- {{expr}} - interpolation data binding -->
    <h2 appHighlight="lightgreen" theme='lightcolor' >{{appTitle}}</h2>

    <app-header></app-header>
 
    <!-- step 3: routing, place holder -->
    <router-outlet></router-outlet>

    <!-- (contactEvent) - subscribe for event 
            onContactHandler($event) - called on every emit from child
    -->
    <app-footer [data-company]="appTitle" 
                [address]="address"
                year="2018"  

                (contactEvent)="onContactHandler($event)"

    ></app-footer>
</div>